@font-face {
    font-family: myfont;
    src: url(./assets/font/NunitoSans-Light.ttf);
}

@font-face {
    font-family: myfontbold;
    src: url(./assets/font/NunitoSans-Bold.ttf);
}

.logo {
    background: url(./assets/image/logo.png) no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    padding-top: 8px;
    padding-left: 33px;
    top: 15px;
    left: 10px;
    color: #bfbfbf;
    font-family: myfont;
}

.logo:before {
    content: "uPort";
}

.container {
    width: 231px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    font-family: myfont;
}

.email {
    background: url(./assets/image/email.png) no-repeat;
    width: 210px;
    height: 210px;
    margin: 0 auto;
}

.success h4 {
    font-size: 20px;
    margin-top: 50px;
    color: #5c50ca;
    font-family: myfontbold;
}

.success h5 {
    font-size: 15px;
    margin-top: 41px;
    color: #777777;
    height: 66px;
    line-height: 1.4;
    font-family: myfontbold;
}

.verification h5 {
    font-size: 15px;
    margin-top: 50px;
    color: #777777;
    height: 40px;
    font-family: myfontbold;
}

.container p {
    color: #828282;
    font-size: 12px;
    line-height: 2.1;
    margin-bottom: 10px;
}

.container input {
    color: #828282;
    font-size: 12px;
    font-weight: bold;
    font-family: myfontbold;
}

.container input[type=email],
select {
    width: 100%;
    padding: 15px 13px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #979797;
    border-radius: 3px;
    box-sizing: border-box;
}

.container .button {
    background-color: #5c50ca;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    margin: -2px 1px;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    font-family: myfont;
}

.container .button:hover {
    background-color: #5346d3;
}

@media (max-width: 500px) {
    .logo:before {
        content: "";
    }
    .container {
        margin-top: 30px;
    }
}